@font-palette-values --Dark {
    font-family: QCF4_Hafs_Color;
    base-palette: 1;
}

@font-face {
    font-family: 'QCF4_Hafs_Color';
    src: url('static/QCF4_Hafs_01_W_COLOR-Regular.woff2') format('woff2'), ;
}

body {
    padding: 1em;
    margin: 1em;
}

.ayat-quran {
    font-family: 'QCF4_Hafs_Color';
    font-size: 40px;
    direction: rtl;
    unicode-bidi: bidi-override;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #181818;
    }

    p {
        color: #eee;
    }

    .ayat-quran {
        font-palette: --Dark;
    }
}