.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.PageHeaderSurah {
    font-family: 'QuranArabicMudah';
    font-size: 23pt;
    cursor: default;
}

.PageHeaderJuzuk {
    font-family: 'JuzukFont';
    font-size: 32pt;
    cursor: default;
}

.table-container {
    display: inline-flex;
}

@media screen and (max-width: 768px) {
    .table-container {
        display: block;
    }

    .page {
        border-bottom: .01px solid gainsboro;
    }
}

.page {
    border-left: .01px solid gainsboro;
}

.SuraFirstPage {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
    margin-right: 330px;
    margin-left: 200px;
}

.SuraSecondPage {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
    margin-right: 200px;
    margin-left: 330px;
}

.Sura {
    height: 45px;
    width: 444px;
    line-height: 1.8;
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
    cursor: default;
}

.LineFirstPage {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
    line-height: 1.1;
    margin-right: 140px;
}

.LineSecondPage {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
    line-height: 1.1;
    margin-right: -130px;
}

.LineBasmala {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
    line-height: 1;
}

.LineAlignCenter {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
    line-height: 1.08;
}

.Line {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-kashida-space: 0;
    line-height: 1.09;
}

.WordFirstPage {
    font-size: 15pt;
    direction: rtl;
    unicode-bidi: bidi-override;
    cursor: default;
}

.WordSecondPage {
    font-size: 15pt;
    direction: rtl;
    unicode-bidi: bidi-override;
    cursor: default;
}

.WordSura {
    font-size: 18pt;
    direction: rtl;
    unicode-bidi: bidi-override;
    cursor: default;
}

.WordBasmala {
    font-size: 16pt;
    direction: rtl;
    unicode-bidi: bidi-override;
    -ms-user-select: none;
    cursor: default;
}

.Word {
    font-size: 19pt;
    direction: rtl;
    unicode-bidi: bidi-override;
    cursor: default;
}

@font-face {
    font-family: 'QCF4_Hafs_01_W_COLOR';
    src: url('../static/fonts/QCF4_Hafs_01_W_COLOR.woff2') format('woff2');
}

@font-face {
    font-family: 'QuranArabicMudah';
    src: url('../static/fonts/QuranArabicMudah-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JuzukFont';
    src: url('../static/fonts/QCF4_Juzuk_Mudah-Regular.woff2') format('woff2');
}